<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDAM">

         <!-- ca-app-pub-8043381776244583/9930395917   ca-app-pub-8043381776244583/9362786215       ca-app-pub-8043381776244583~1004200499  ca-app-pub-3940256099942544~3347511713  -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8043381776244583~4897172417" />

        <activity android:name=".MainActivityLobbyRuletaSuerte" />
        <activity android:name=".MainActivityMimica" />
        <activity android:name=".MainActivityPatataCaliente" />
        <activity android:name=".MainActivityPalillos" />
        <activity android:name=".MainActivityLobbyPalillos" />
        <activity android:name=".MainActivityRuletaSuerte" />
        <activity android:name=".MainActivityMayorMenor" />
        <activity android:name=".MainActivityPerfil" />
        <activity android:name=".MainActivityCincoCosas" />
        <activity android:name=".MainActivityBotella" />
        <activity android:name=".MainActivityMasProbable" />
        <activity android:name=".MainActivityRuletaRusa" />
        <activity android:name=".MainActivitySetasVenenosas" />
        <activity android:name=".MainActivitySlotMachine" />
        <activity android:name=".MainActivityYoNunca" />
        <activity android:name=".MainActivityCaraCruz" />
        <activity android:name=".MainActivitySignIn" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivityLogin" />
        <activity android:name=".MainActivityRecuperarContrasena" />
        <activity android:name=".MainActivityLobbyYoNunca" />
        <activity android:name=".MainActivityLobbyMasProbable"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>